<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Document</title>
</head>

<body ng-app="app" ng-controller="ctrl">
    <h2>RESTful Consumer - angularjs</h2>
    <!-- form -->
    <div>
        <input ng-model="form.email" placeholder="Email">
        <input ng-model="form.fullname" placeholder="FullName">
        <input ng-model="form.marks" placeholder="Mark">
        <input ng-model="form.gender" ng-value="true" type="radio"> Male
        <input ng-model="form.gender" ng-value="false" type="radio"> Female
        <select ng-model="form.country">
            <option value="VN">Viet Nam</option>
            <option value="US">US</option>
        </select>
        <hr>
        <button ng-click="create()">create</button>
        <button ng-click="update()">update</button>
        <button ng-click="delete()">delete</button>
        <button ng-click="reset()">reset</button>
    </div>

    <!-- table -->
    <table style="width: 100%" border="1" > 
        <tr>
        <th>Email</th>
        <th>FullName</th>
        <th>Mark</th>
        <th>gender</th>
        <th>country</th>
        <th></th>
        </tr>
        <tr ng-repeat="(key , stu) in items">
            <td>{{stu.email}}</td>
            <td>{{stu.fullname}}</td>
            <td>{{stu.marks}}</td>
            <td>{{stu.gender?'Male' : 'Female'}}</td>
            <td>{{stu.country}}</td>
            <td>
                <button ng-click="edit(key)">edit</button>
                <button ng-click="delete(key)">delete</button>
            </td>
                </tr>
    </table>
   <script src="js.js"></script>
</body>

</html>